---
import Layout from '../layouts/Layout.astro';
import '@fontsource/dm-serif-text';
import Promociones from '../sections/Promociones.astro';
---

<Layout titulo="Cafetería La Gran Aroma">
	<Promociones />
	<h1 class="text-6xl font-[DM_Serif_Text] text-center mt-12">La Gran Aroma, <br><span class="text-4xl">tu cafetería de confianza.</span></h1>
	<img class="max-w-7xl mx-auto my-20" src="cafeteria.jpg" alt="Fotografía de la Cafetería La Gran Aroma">
</Layout>
