---
import Layout from '../layouts/Layout.astro';
---

<Layout titulo="Ubicación - Cafetería La Gran Aroma">
	<h1 class="text-center text-5xl mt-24">- Ubicación -</h1>
	<p class="text-center my-12 text-lg">Esta es la ubicación de nuestra cafeteria.</p>
	<div class="max-w-7xl mx-auto h-[600px] mb-24">
		<iframe class="rounded-2xl shadow-2xl" width="100%" height="100%" src="https://www.openstreetmap.org/export/embed.html?bbox=2.127715945243836%2C41.5146750885744%2C2.1363204717636113%2C41.518177644286695&amp;layer=mapnik&amp;marker=41.51642639012336%2C2.132018208503723"></iframe><br/><small><a class="hover:underline" target="_blank" href="https://www.openstreetmap.org/?mlat=41.516426&amp;mlon=2.132018#map=18/41.516426/2.132018">Ver el mapa en OpenStreetMap</a></small>
	</div>
</Layout>
