<footer class="bg-black text-white px-18 py-8 flex justify-between items-center">
    <span>© 2025 Cafetería La Gran Aroma. Todos los derechos reservados | Esto es un proyecto con <span class="font-semibold">fines educativos.</span></span>
    <div class="flex gap-x-4">
        <a class="hover:scale-110 transition" target="_blank" href="https://www.instagram.com/cafeteria_la_gran_aroma/"><img class="size-8" src="/iconos/instagram.svg" alt="Logotipo de Instagram"></a>
        <a class="hover:scale-110 transition" target="_blank" href="https://www.youtube.com/@CafeteriaLaGranAroma"><img class="size-8" src="/iconos/youtube.svg" alt="Logotipo de Youtube"></a>
        <a class="hover:scale-110 transition" target="_blank" href="https://x.com/CafeteriaLaGranAroma"><img class="size-8" src="/iconos/x.svg" alt="Logotipo de X (Twitter)"></a>
        <a class="hover:scale-110 transition" target="_blank" href="https://github.com/Bielis08"><img class="size-8" src="/iconos/github.svg" alt="Logotipo de GitHub"></a>
    </div>
</footer>