<header class="flex justify-between items-center px-18 py-8 text-secondary bg-primary">
    <h1 class="text-5xl font-[DM_Serif_Text]">Cafetería La Gran Aroma</h1>
    <nav class="flex space-x-6 text-xl">
        <a class="hover:text-black transition-all hover:bg-secondary/30 px-2 py-1 rounded-md" href="/">Inicio</a>
        <a class="hover:text-black transition-all hover:bg-secondary/30 px-2 py-1 rounded-md" href="/menu">Menú</a>
        <a class="hover:text-black transition-all hover:bg-secondary/30 px-2 py-1 rounded-md" href="/reservar">Reservar</a>
        <a class="hover:text-black transition-all hover:bg-secondary/30 px-2 py-1 rounded-md" href="/ubicacion">Ubicación</a>
        <a class="hover:text-black transition-all hover:bg-secondary/30 px-2 py-1 rounded-md" href="/horarios">Horarios</a>
    </nav>
</header>