---
import '../styles/global.css'
const { titulo } = Astro.props
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '@fontsource/dm-serif-text';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" />
		<title>{titulo}</title>
	</head>
	<body>
		<div class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
			<Header />
			<div>
				<slot />
			</div>
			<Footer />
		</div>
		<ClientRouter />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #f5e0c3;
	}
</style>
